<div class="sidebar">
    <div class="logo">
        <a href="#" class="simple-text">
            Turbo Admin
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            T
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="../index-2.html">
                    <i class="material-icons">Accueil</i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li>
                <a href="{{ path('espace_etudiant_societe_liste') }}" >
                    <i class="material-icons">business</i>
                    <p>societes</p>
                </a>
            </li>
            <li>
                <a href="{{ path('espace_etudiant_offrestage_liste') }}" >
                    <i class="material-icons">note_add</i>
                    <p>Offres des stages</p>
                </a>
            </li>
            <li>
                <a href="{{ path('espace_etudiant_rapport_liste') }}" >
                    <i class="material-icons">assignment</i>
                    <p>Rapports</p>
                </a>
            </li>
            
        </ul>

    </div>
</div>