<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.domaine) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.universite) }}
    </div>
    <div class="col-lg-2"><br>
        <button type="submit" class="btn btn-primary"><i class="material-icons">search</i> Chercher
        </button>
    </div>

</div>
