<div class="row">
    <div class="col-lg-10">
        {{ form_row(form.titre) }}
    </div>
    <div class="col-lg-2"><br>
        <button type="submit" class="btn btn-primary"><i class="material-icons">search</i> Chercher
        </button>
    </div>

</div>
