<div class="sidebar" data-background-color="gray">
    <div class="logo">
        <a href="{{ path('app_index')}}" class="simple-text">
            Page principale
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            P
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="{{ path('espace_encadreur_index')}}">
                    <i class="material-icons">event_note</i>
                    <p>planning</p>
                </a>
            </li>
            <li>
                <a href="{{ path('espace_encadreur_etudiant_liste') }}" >
                    <i class="material-icons">group_add</i>
                    <p>Etudiants</p>
                </a>
            </li>
            <li>
                <a href="{{ path('espace_encadreur_mesetudiants') }}" >
                    <i class="material-icons">group</i>
                    <p>Mes Etudiants</p>
                </a>
            </li>
        </ul>

    </div>
</div>