<div class="sidebar">
    <div class="logo">
        <a href="#" class="simple-text">
            Turbo Admin
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            T
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="../index-2.html">
                    <i class="material-icons">Accueil</i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li>
                <a href="{{ path('espace_encadreur_etudiant_liste') }}" >
                    <i class="material-icons">aspect_ratio</i>
                    <p>Etudiants</p>
                </a>
            </li>
            <li>
                <a href="{{ path('espace_encadreur_mesetudiants') }}" >
                    <i class="material-icons">aspect_ratio</i>
                    <p>Mes Etudiants</p>
                </a>
            </li>
        </ul>

    </div>
</div>