{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="card" id="profile-main">

                <div class="card-content">

                    <h3>Welcome {{ etudiant.utilisateur.prenom }}!</h3>


                    <div role="tabpanel">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#profile11" aria-controls="profile11" role="tab" data-toggle="tab" aria-expanded="true">edit copmte</a>
                            </li>
                            <li class=""><a href="#email11" aria-controls="messages11" role="tab" data-toggle="tab" aria-expanded="false">edit mail</a>
                            </li>
                            <li class=""><a href="#pass11" aria-controls="settings11" role="tab" data-toggle="tab" aria-expanded="false">edit password</a>
                            </li>

                        </ul>

                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="profile11">

                            </div>

                            <div role="tabpanel" class="tab-pane" id="email11">
                                <div class="widget p-25">



                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="pass11">


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>





{% endblock %}